.leftpart{
    font-size: 40px;
    margin: 150px;
}
.button{
    height: 70px;
    width: 200px;
    border-radius: 30px;
    color: white;
    background-color: pink;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 6%;
}
.container {
    display: flex;

}
.title{
    font-size: 25px;
    text-align: center;
}
.row_feature_inner{
    font-size: 30px;
}
.col-lg-4{
    text-align: center;
}
