.leftpart{
    font-size: 40px;
    margin: 150px;
}
.rightpart{
 
}
.button{
    height: 70px;
    width: 200px;
    border-radius: 30px;
    color: white;
    background-color: pink;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 6%;
}